body {
  background-color: white;
}


#header{
  background-color: white;
  box-shadow: 0px 1px 5px black;
  height:70px;
  width:102%;
  margin-top: -8px;
  margin-left: -9px;
  position:fixed;
  font-family: Lato, serif;
}

#site_logo{
  float:left;
  height:52px;
  padding-left: 30px;
  margin-top: 10px;
}

#about_us {
  background-color: #008000;
  color:white;
  height:45%;
  width:130px;
  font-size:80%;
  float:right;
  margin-left: 7px;
  margin-right: 45px;
  margin-top: 12px;
  text-align: center;
  padding-top:15px;
  font-family: Lato, serif;
}

#compare_button {
  height:45%;
  width:140px;
  font-size:80%;
  float:right;
  margin-top: 12px;
  text-align: center;
  margin-right:10px;
  padding-top:15px;
  font-family: Lato, serif;
}

#compare_button:hover {
  box-shadow: 0px 0.1px 3px black;
}

#betyg_rubrik {
  text-align: center;
  font-size: 60px;
  color:green;
  font-family: Lato, serif;
  margin-bottom: -50px;
  margin-top: -30px;
}

#tree {
  height:700px;
  margin-top: -400px;
  z-index: -1;
  margin-left: -50px;
  position:relative;
}

#short_text{
  padding-top: 120px;
  width:100%;
  display: inline-block;
  font-family: Lato, serif;
}

#headline_h1{
  text-align: center;
  margin:auto;
  height:100px;
  width:900px;
}

#headline_h2{
  text-align: center;
  margin:auto;
  height:100px;
  width:900px;
  margin-top: -45px;
}


#space{
  width:100%;
  height:150px;
}


#trad {
  margin-top: -100px;
  margin-bottom: 30px;
  height:400px;
  text-align: center;
}

.certification_logos {
  background-color:white;
  height:160px;
  width:20%;
  margin:2.3%;
  padding-bottom:60px;
  display:inline-block;
  font-family: Lato, serif;
  text-align: center;
}

.small_logo{
  height:92%;
  margin:auto;
  display:block;
  margin-bottom: 10px;
}

.rankning_bild_index {
  height:25px;
  margin:auto;
  display:block;
  margin-top:5px;
}


#footer{
  background-color: #D3D3D3;
  width:102%;
  height:300px;
  margin-left: -9px;
  margin-bottom: -100px;
}

.placeholder{
  font-family: Lato, serif;
  text-align: center;
  padding-top: 10px;
  text-decoration: underline;
}


.uppgifter{
  font-family: Lato, serif;
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 30px;
  padding-top: 50px;

}

.uppgifter h3{
  margin-left: 6%;
  margin-right: 10%;
  display: inline-block;
  text-align: center;
}


.HI{
  font-family: Lato, serif;
  text-align: center;
  padding-top: 80px;
}


/* Pages CSS */



#rubrik {
  text-align: center;
  font-size: 25px;
  color:green;
  font-family: Lato, serif;
}


#infotext {
  text-align: center;
  font-size: 25px;
  color:black;
  font-family: Lato, serif;
  margin-top:30px;
}

.infotext_div{
  width:800px;
  margin: auto;

}

#pages_ranking {
  width:65%;
  margin: auto;
}

#rankning {
  float:left;
  font-size: 25px;
  color:green;
  font-family: Lato, serif;
}

#moqups {
  float:right;
  font-size: 25px;
  color:green;
  font-family: Lato, serif;
}

.rankning_bild{
  height:60px;
  float:left;
  padding-top: 70px;
  display:inline;
}

.products{
  height:50px;
  float:right;
}

.product_container{
  width:400px;
  height:60px;
  float:right;
  padding-top: 70px;
  display:inline;
}

#backbutton {
  height:30px;
  width:200px;
  font-size: 25px;
  color:green;
  font-family: Lato, serif;
  background-color: green;
  color: white;
  padding: 15px 32px;
  text-align: center;
  margin:auto;
  margin-bottom: 60px;
}

a {
  color:black;
  text-decoration: none;
}


.big_logo{
  height:400px;
  margin-top:80px;
}

.big_logo_div{
  width:100%;
  text-align: center;
}

#headline_betyg{
  text-align: center;
  margin:auto;
  height:100px;
  width:70%;
  text-align: center;
  font-size: 25px;
  padding-bottom: 30px;
}

.rankning_bild_jamfor{
  height:60px;
  float:left;
  display:block;
  margin-top:70px;
  margin:3.4%;
}

.leaf_div{
  width:70%;
  height:100px;
  display:block;
  margin:auto;
  margin-top:30px;
  margin-bottom: 30px;
  font-family: Lato, serif;
}

.leaf_div p {
  text-align: center;
  font-size: 19px;
  padding-top:45px;
  padding-left: 50px;
  text-align: right;
}


#scroll-top {
  height:40px;
  text-align: center;
  margin-bottom: 20px;
}

/* Artiklar CSS */

#artikeltext1{
  font-family: Lato, serif;
  width:47%;
  text-align: left;
  padding: 15px 32px;
  margin:auto;
  line-height: 200%;
}

#artikeltext1 h1{
  text-align: center;
}

#artikeltext1 h4{
  text-align: center;
}

#artikeltext2{
  font-family: Lato, serif;
  width:47%;
  text-align: left;
  padding: 15px 32px;
  margin:auto;
  line-height: 200%;
}

#artikeltext2 h1{
  text-align: center;
}


#artikeltext3{
  font-family: Lato, serif;
  width:47%;
  text-align: left;
  padding: 15px 32px;
  margin:auto;
  line-height: 200%;
}


#artikeltext3 h1{
  text-align: center;
}


#artikeltext3 h2{
  text-align: center;
}


#gryningen{
margin: auto;
text-align: center;
}


#cajsa{
  margin: auto;
  text-align: center;
}

#artikeltext4{
  font-family: Lato, serif;
  width:47%;
  text-align: left;
  padding: 15px 32px;
  margin:auto;
  line-height: 200%;
}


#artikeltext4 h1{
  text-align: center;
}

#artikeltext5{
  font-family: Lato, serif;
  width:47%;
  text-align: left;
  padding: 15px 32px;
  margin:auto;
  line-height: 200%;
}


#artikeltext5 h1{
  text-align: center;
}

#artikeltext5 h3{
  text-align: center;
}
