body {
  background-color: white;

}

#header{
  background-color: white;
  box-shadow: 0px 1px 5px black;
  height:60px;
  width:102%;
  margin-top: -9px;
  margin-left: -9px;
}

#site_logo{
  float:left;
  padding-left:15px;
  font-size: 25px;
  color:green;
  font: helvetica;
}

#about_us {
  background-color: green;
  color:white;
  height:50%;
  width:130px;
  font-size:80%;
  float:right;
  margin-left: 7px;
  margin-right: 20px;
  margin-top: 8px;
  text-align: center;
  padding-top:10px;
}

#certifieringar{
  height:50%;
  width:130px;
  font-size:80%;
  float:right;
  margin-top: 8px;
  text-align: center;
  padding-top:10px;
}

#certifieringar:hover {
  box-shadow: 0px 0.1px 3px black;
}

#certification_tree {
  width:500px;
  height: 500px;
  margin:auto;
  margin-top: 50px;
  margin-bottom: 100px;
}

#tree {
  height:600px;
  margin-top: -350px;
}

#anglamark{
  height: 70px;
  display: inline-block;
  text-align: center;
  padding:5px;
}

#bdih{
  height: 70px;
  display: inline-block;
  text-align: center;
  padding:5px;

}

#blaangeln{
  height: 70px;
  display: inline-block;
  text-align: center;
  padding:5px;
}

#bramiljoval{
  height: 70px;
  display: inline-block;
  text-align: center;
  padding:5px;
}

#demeter{
  height: 70px;
  display: inline-block;
  text-align: center;
  padding:5px;
}

#eu_ekologiskt{
  height: 70px;
  display: inline-block;
  text-align: center;
  padding:5px;
}

#eublomma{
  height: 70px;
  display: inline-block;
  text-align: center;
  padding:5px;
}

#fairtrade{
  height: 70px;
  display: inline-block;
  text-align: center;
  padding:5px;
}

#krav{
  height: 70px;
  display: inline-block;
  text-align: center;
  padding:5px;
}

#msc{
  height: 70px;
  display: inline-block;
  text-align: center;
  padding:5px;
}

#natrue{
  height: 70px;
  display: inline-block;
  text-align: center;
  padding:5px;
}

#nyckel{
  height: 70px;
  display: inline-block;
  text-align: center;
  padding:5px;
}

#ra{
  height: 70px;
  display: inline-block;
  text-align: center;
  padding:5px;
}

#sadesaxet{
  height: 70px;
  display: inline-block;
  text-align: center;
  padding:5px;
}

#soil{
  height: 70px;
  display: inline-block;
  text-align: center;
  padding:5px;
}

#svanen{
  height: 70px;
  display: inline-block;
  text-align: center;
  padding:5px;
}

#svenskt_kott{
  height: 70px;
  display: inline-block;
  text-align: center;
  padding:5px;
}

#svensktsigill{
  height: 70px;
  display: inline-block;
  text-align: center;
  padding:5px;
}

#treklovern{
  height: 70px;
  display: inline-block;
  text-align: center;
  padding:5px;
}

#usda{
  height: 70px;
  display: inline-block;
  text-align: center;
  padding:5px;
}

#vegansociety{
  height: 70px;
  display: inline-block;
  text-align: center;
  padding:5px;
}

.certification_logos {
  background-color:lightgreen;
  height:100px;
  width:25%;
  margin:2%;
  display:inline-block;
}
