body {
  background-color: white;

}


#header{
  background-color: white;
  box-shadow: 0px 1px 5px black;
  height:70px;
  width:102%;
  margin-top: -8px;
  margin-left: -9px;
  position:fixed;
  font-family: Lato, serif;
}

#site_logo{
  float:left;
  height:70px;
  width:170px;
  padding-left: 20px;
}

#about_us {
  background-color: green;
  color:white;
  height:50%;
  width:130px;
  font-size:80%;
  float:right;
  margin-left: 7px;
  margin-right: 45px;
  margin-top: 12px;
  text-align: center;
  padding-top:10px;
  font-family: Lato, serif;
}

#compare_button {
  height:50%;
  width:130px;
  font-size:80%;
  float:right;
  margin-top: 12px;
  text-align: center;
  padding-top:10px;
  font-family: Lato, serif;
}

#compare_button:hover {
  box-shadow: 0px 0.1px 3px black;
}

#certification_tree {
  width:500px;
  height: 500px;
  margin:auto;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 100px;
  padding-right: 220px;
}

#tree {
  height:700px;
  margin-top: -400px;
  z-index: -1;
  margin-left: -50px;
  position:relative;
}

#short_text{
  height:200px;
  width:200px;
  display: inline-block;
  float:right;
  font-family: Lato, serif;
  margin-top: -250px;
  margin-right: 300px;

}

#scroll_down{
  background-color: green;
  color:white;
  height:30px;
  width:150px;
  font-size:80%;
  text-align: center;
  padding-top:10px;
  font-family: Lato, serif;
  margin-top: -130px;
  margin-right: 350px;
  float:right;
}

#space{
  width:100%;
  height:150px;
}


#anglamark{
  height: 70px;
  display: inline-block;
  text-align: center;
  padding:5px;
  padding-left: 0px;
}

#bdih{
  height: 70px;
  display: inline-block;
  text-align: center;
  padding:5px;
  padding-left: 0px;

}

#blaangeln{
  height: 70px;
  display: inline-block;
  text-align: center;
  padding:5px;
  padding-left: 0px;
}

#bramiljoval{
  height: 70px;
  display: inline-block;
  text-align: center;
  padding:5px;
  padding-left: 0px;
}

#demeter{
  height: 70px;
  display: inline-block;
  text-align: center;
  padding:5px;
  padding-left: 0px;
}

#eu_ekologiskt{
  height: 70px;
  display: inline-block;
  text-align: center;
  padding:5px;
  padding-left: 0px;
}

#eublomma{
  height: 70px;
  display: inline-block;
  text-align: center;
  padding:5px;
  padding-left: 0px;
}

#fairtrade{
  height: 70px;
  display: inline-block;
  text-align: center;
  padding:5px;
  padding-left: 0px;
}

#krav{
  height: 70px;
  display: inline-block;
  text-align: center;
  padding:5px;
  padding-left: 0px;
}

#msc{
  height: 70px;
  display: inline-block;
  text-align: center;
  padding:5px;
  padding-left: 0px;
}

#natrue{
  height: 70px;
  display: inline-block;
  text-align: center;
  padding:5px;
  padding-left: 0px;
}

#nyckel{
  height: 70px;
  display: inline-block;
  text-align: center;
  padding:5px;
  padding-left: 0px;
}

#ra{
  height: 70px;
  display: inline-block;
  text-align: center;
  padding:5px;
  padding-left: 0px;
}

#sadesaxet{
  height: 70px;
  display: inline-block;
  text-align: center;
  padding:5px;
  padding-left: 0px;
}

#soil{
  height: 70px;
  display: inline-block;
  text-align: center;
  padding:5px;
  padding-left: 0px;
}

#svanen{
  height: 70px;
  display: inline-block;
  text-align: center;
  padding:5px;
  padding-left: 0px;
}

#svenskt_kott{
  height: 70px;
  display: inline-block;
  text-align: center;
  padding:5px;
  padding-left: 0px;
}

#svensktsigill{
  height: 70px;
  display: inline-block;
  text-align: center;
  padding:5px;
  padding-left: 0px;
}

#treklovern{
  height: 70px;
  display: inline-block;
  text-align: center;
  padding:5px;
  padding-left: 0px;
}

#usda{
  height: 70px;
  display: inline-block;
  text-align: center;
  padding:5px;
  padding-left: 0px;
}

#vegansociety{
  height: 70px;
  display: inline-block;
  text-align: center;
  padding:5px;
  padding-left: 0px;
}

.certification_logos {
  background-color:white;
  height:150px;
  width:15%;
  margin:2.3%;
  display:inline-block;
  font-family: Lato, serif;
  text-align: center;
}

.small_logo{
  height:90px;
  margin:auto;
  display:block;
  margin-bottom: 10px;
}

.rankning_bild_index {
  height:25px;
  margin:auto;
  display:block;
  margin-top:5px;
}


#footer{
  background-color: #D3D3D3;
  width:102%;
  height:300px;
  margin-left: -9px;
  margin-bottom: -100px;
}

.placeholder{
  font-family: Lato, serif;
  text-align: center;
  padding-top: 10px;
  text-decoration: underline;
}


.uppgifter{
  font-family: Lato, serif;
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 30px;
  padding-top: 50px;

}

.uppgifter h3{
  margin-left: 6%;
  margin-right: 10%;
  display: inline-block;
  text-align: center;
}


.HI{
  font-family: Lato, serif;
  text-align: center;
  padding-top: 80px;
}


/* Pages CSS */



#rubrik {
  text-align: center;
  padding-left:25px;
  font-size: 25px;
  color:green;
  font-family: Lato, serif;
}


#infotext {
  text-align: center;
  padding-left:25px;
  font-size: 25px;
  color:black;
  font-family: Lato, serif;
  margin-top:30px;
}

.infotext_div{
  width:800px;
  margin: auto;

}

#rankning {
  float:left;
  margin-left: 200px;
  padding-left:25px;
  font-size: 25px;
  color:green;
  font-family: Lato, serif;
}

#moqups {
  float:right;
  margin-right: 200px;
  padding-left:25px;
  font-size: 25px;
  color:green;
  font-family: Lato, serif;
}

#backbutton {
  height:30px;
  width:200px;
  font-size: 25px;
  color:green;
  font-family: Lato, serif;
  background-color: green;
  color: white;
  padding: 15px 32px;
  text-align: center;
  margin:auto;
  margin-bottom: 60px;
}

a {
  color:black;
  text-decoration: none;
}

.big_logo{
  height:400px;
  margin-top:80px;
}

.big_logo_div{
  width:100%;
  text-align: center;
}

.rankning_bild{
  height:60px;
  float:left;
  margin-left:-100px;
  display:block;
  margin-top:70px;
}

.rankning_bild_jamfor{
  height:60px;
  float:left;
  margin-left:-100px;
  display:block;
  margin-top:70px;
  margin:3.4%;
}

.products{
  height:50px;
  float:right;
  margin:5px;
  display:block;
}

.product_container{
  width:400px;
  height:60px;
  float:right;
  padding-top:80px;
  margin-right: -120px;

}
